<div class="form-panel" fxLayout="row">
  <mat-tab-group class="form-panel-tab-group" [selectedIndex]="tabIndex"
                 fxFlex="40" animationDuration="0"
                 mat-stretch-tabs (selectedTabChange)="tabChange($event)">
    <mat-tab fxFlex="100" *ngFor="let tab of tabs; let i = index">
      <ng-template matTabLabel>
        <mat-icon class="form-panel__tab-icon">web</mat-icon>

        <button mat-button class="form-panel__delete-btn" (keydown)="removeTab($event)"
                (click)="removeTab($event)" [disabled]="tabs.length <= 1">
          <mat-icon>close</mat-icon>
        </button>
      </ng-template>

      <app-facebook [tabIndex]="i" [updateAdRenderPanel]="updateAdRenderPanel"></app-facebook>
    </mat-tab>

    <mat-tab>
      <ng-template matTabLabel>
        <mat-icon>note_add</mat-icon>
      </ng-template>

      <!-- <div fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
      </div> -->
    </mat-tab>
  </mat-tab-group>

  <app-ad-render-panel class="form-panel__ad-render-panel" fxFlex="60"></app-ad-render-panel>
</div>
