@import 'src/styles/abstract/colors';

html {
  min-height: 100%;
  width: 100%;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes

  body {
    height: 100%;
    min-height: 100vh;
    background-color: $color-white;
    color: $color-cape-cod;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    [hidden] {
      display: none !important; //sass-lint:disable-line no-important
    }

    h1,
    h2,
    h3,
    h4 {
      font-weight: 500;
      letter-spacing: -1px;
      color: $color-cape-cod;
    }

    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 28px;
    }

    h3 {
      font-size: 24px;
    }

    h4 {
      font-weight: 700;
      font-size: 18px;
    }

    a,
    button {
      cursor: pointer;
      min-width: 24px;
    }

    a {
      color: $color-danube-blue;
      text-decoration: none;
      font-weight: 700;

      &:hover {
        opacity: .7;
      }
    }

    .bold {
      font-weight: 700;
    }

    .hide-outline {
      a,
      button,
      input {
        &:focus {
          outline: none;
        }
      }
    }
  }
}
