// Greyscale
$color-white: #fff;
$color-black: #000;
$color-kilamanjaro-gray: #3d3535;
$color-cape-cod: #3c4245;
$color-nevada: #5f6769;

// Red
$color-cinnabar: #ed4337;

// Blue
$color-danube-blue: #5a8db7;

// Green
$color-juniper: #719192;

// Brown
$color-wafer: #dfcdc3;
