@mixin view-layout {
  padding: 24px 12px 0;
}

@mixin cubic-transition($prop: all, $time: .6s) {
  transition: $prop $time cubic-bezier(.85, -.12, .77, .46);
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
