@import 'src/styles/abstract/colors';

.social-media-icon {
  .google-display {
    color: $color-danube-blue;
    background-color: $color-white;
    border-radius: 50%;
    padding: 3px 3px 2px;
    margin: 0 -3px;
  }

  // .tiktok {
  // }
}
