@import 'src/styles/abstract/colors';
@import 'src/styles/abstract/mixins';

@mixin collapse-width($width, $width-c: 0) {
  @include cubic-transition(width);
  overflow: hidden;
  width: $width;

  &--collapsed {
    @include cubic-transition(width);
    width: $width-c;
  }
}

.sidebar {
  @include collapse-width(200px, 55px);
  height: 100%;
  background: $color-danube-blue;
  color: $color-white;
  border-right: 2px solid rgba($color-kilamanjaro-gray, .1);
  box-sizing: border-box;

  &-container {
    padding: 0 18px;

    &--scroll-overflow {
      overflow-x: hidden;
    }
  }

  &-logo {
    @include disable-select;
    color: $color-white;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 2px;
    padding-top: 18px;

    &__text {
      @include collapse-width(100%);
      line-height: 36px;
    }

    &-desc {
      @include collapse-width(100%);
      @include disable-select;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      width: 100%;
      white-space: nowrap;
    }

    .mat-button {
      color: $color-white;
      background: none;

      .mat-icon {
        width: 24px;
        height: 24px;
        font-size: 24px;
      }
    }
  }

  &-options {
    margin-top: 36px;

    &__option {
      position: relative;
      left: -6px;
      width: 188px;
      padding-bottom: 8px;

      &-btn {
        width: 100%;
        min-width: 42px;
        padding-left: 8px;

        &.active {
          background-color: rgba($color-white, .1);
        }
      }

      &-text {
        margin-left: 23px;
        font-weight: 500;
      }
    }
  }

  .profile-btn {
    margin: 0 6px 6px 0;

    .mat-button {
      @include cubic-transition;
      border: 1px solid $color-white;
      border-radius: 50%;
      width: 40px;
      height: 40px;

      &.no-user {
        @include cubic-transition;
        border: 0;
        border-radius: 0;
      }
    }

    mat-icon {
      color: $color-white;
      height: 30px;
      width: 30px;
      font-size: 30px;
    }
  }

  .profile-menu {
    $this: &;

    @include cubic-transition(left);
    position: absolute;
    left: 196px;
    bottom: 0;
    z-index: 1;

    &-container {
      @include cubic-transition;
      overflow: hidden;
      width: 0;
      color: $color-kilamanjaro-gray;
      background: $color-danube-blue;
      border-left: 2px solid $color-danube-blue;
      border-radius: 1px;

      &--active {
        @include cubic-transition;
        width: 100px;
        border-left: 1px solid $color-white;
      }
    }

    &--active {
      left: 200px;
    }

    &--collapsed {
      @include cubic-transition(left);
      left: 51px;

      // not working ??? see &.profile-menu--collapsed.profile-menu--active
      &#{$this}--active#{$this} {
        left: 55px;
      }
    }

    &.profile-menu--collapsed.profile-menu--active {
      left: 55px;
    }

    &__btn {
      min-width: 80px;
    }

    .mat-button {
      color: $color-white;
      width: 100%;
      padding: 3px 8px 3px 12px;
      font-weight: 500;

      &:not(:last-child) {
        border-bottom: 1px solid $color-white;
      }
    }
  }

  &-divider {
    margin: 0 5% 4px;
    width: 90%;
    border-top-color: rgba($color-white, .2);
  }

  .collapse-btn {
    margin-right: 6px;

    .mat-button {
      @include cubic-transition(transform);
      transform: rotateY(0deg);
      background: none;

      &--collapsed {
        @include cubic-transition(transform);
        transform: rotateY(180deg);
      }
    }

    mat-icon {
      color: $color-white;
      height: 42px;
      width: 42px;
      font-size: 42px;
    }
  }
}
