<div class="sidebar" [ngClass]="{'sidebar--collapsed': state?.isCollapsed}"
     fxLayout="column" fxLayoutAlign="space-between stretch">
  <div class="sidebar-container" fxLayout="column">
    <div class="sidebar-logo" fxLayout="row" fxLayoutAlign="space-between">
      <div class="sidebar-logo__text" [ngClass]="{'sidebar-logo__text--collapsed': state?.isCollapsed}">
        <span class="bold" translate>SIDEBAR_LOGO_TITLE_1</span>
        <span translate>SIDEBAR_LOGO_TITLE_2</span>
      </div>
      <button mat-button class="no-hover" [disableRipple]="true"
              (click)="toggleCollapse()" tabindex="-1"
              [ngClass]="{'mat-button--collapsed': state?.isCollapsed}">
        <mat-icon>phonelink</mat-icon>
      </button>
    </div>

    <div class="sidebar-logo-desc" [ngClass]="{'sidebar-logo-desc--collapsed': state?.isCollapsed}">
      <span translate>SIDEBAR_LOGO_DESC</span>
    </div>

    <div class="sidebar-options">
      <div class="sidebar-options__option" fxLayout="row">
        <button mat-button class="sidebar-options__option-btn"
                (click)="setMediaType(MEDIA_TYPES.FACEBOOK)"
                [ngClass]="{'active': state?.category === MEDIA_TYPES.FACEBOOK}">
          <div fxLayout="row" fxLayoutAlign="start center">
            <app-social-media-icon icon="facebook"></app-social-media-icon>
            <span class="sidebar-options__option-text" translate>MEDIA_TYPE_FACEBOOK</span>
          </div>
        </button>
      </div>

      <div class="sidebar-options__option" fxLayout="row">
        <button mat-button class="sidebar-options__option-btn"
                (click)="setMediaType(MEDIA_TYPES.INSTAGRAM)"
                [ngClass]="{'active': state?.category === MEDIA_TYPES.INSTAGRAM}">
          <div fxLayout="row" fxLayoutAlign="start center">
            <app-social-media-icon icon="instagram"></app-social-media-icon>
            <span class="sidebar-options__option-text" translate>MEDIA_TYPE_INSTAGRAM</span>
          </div>
        </button>
      </div>

      <div class="sidebar-options__option" fxLayout="row">
        <button mat-button class="sidebar-options__option-btn"
                (click)="setMediaType(MEDIA_TYPES.TWITTER)"
                [ngClass]="{'active': state?.category === MEDIA_TYPES.TWITTER}">
          <div fxLayout="row" fxLayoutAlign="start center">
            <app-social-media-icon icon="twitter"></app-social-media-icon>
            <span class="sidebar-options__option-text" translate>MEDIA_TYPE_TWITTER</span>
          </div>
        </button>
      </div>

      <div class="sidebar-options__option" fxLayout="row">
        <button mat-button class="sidebar-options__option-btn"
                (click)="setMediaType(MEDIA_TYPES.SNAPCHAT)"
                [ngClass]="{'active': state?.category === MEDIA_TYPES.SNAPCHAT}">
          <div fxLayout="row" fxLayoutAlign="start center">
            <app-social-media-icon icon="snapchat"></app-social-media-icon>
            <span class="sidebar-options__option-text" translate>MEDIA_TYPE_SNAPCHAT</span>
          </div>
        </button>
      </div>
    </div>
  </div>

  <div class="collapse-btn" fxLayout="row" fxLayoutAlign="end">
    <button mat-button (click)="toggleCollapse()"
            [ngClass]="{'mat-button--collapsed': state?.isCollapsed}">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </div>
</div>
